# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# Indentation for md files
[*.md]
max_line_length = 0
trim_trailing_whitespace = false

# Indentation for all source files
[*.{json,js,jsx,ts,tsx,css,html}]
max_line_length = 100
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
insert_final_newline = true
